table {
    table-layout: fixed;
    border: 1px solid #A35139;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #A35139;
    text-align: left;
    padding: 1rem;
    font-size: 1.25rem;
    vertical-align: top;
}

td {
    overflow-x: scroll;
}

.table-data-image {
    max-width: 100%;
}

.h1-tags {
    vertical-align: top;
    margin: 0;
    padding: revert;
}

.h1-tags ul {
    padding-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.url-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
}