#home-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ced4da;
    border-radius: 0.5rem;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

#urlEntry {
    width: 40%;
    padding: 1rem;
    font-size: 1.25rem;
    border: 1px solid #adb5bd;
}

#urlEntry:focus {
    border: 1px solid #495057;
    outline: none;
}

#fetch-button {
    width: 20%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem;
    font-size: 1rem;
    background-color: #495057;
    color: #eee9df;
    font-weight: 700;
}

#fetch-button:hover {
    background-color: #6c757d;
}

#fetch-button:active {
    transform: translateY(1px); /* Creates a slight "press" effect */
    box-shadow: none; /* Removes shadow during press */
}
