@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  font-family: "Inconsolata", monospace;
}